body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #f3fdfd;
}

nav h1{
    margin: 0;
    padding: 10px;
    margin-bottom: -20px;
}

nav ul {
    list-style: none;
    padding: 20px;
    margin: 10px 0 0 -10px;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: blue;
}

nav ul li a:hover{
    color: #2d5be3;
}

.border-left{
    margin-bottom: 20px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 4px solid rgb(2, 2, 160);
    margin-left: 10px;
    background-color: #f3fdfd;
}

.border-left p{
    text-align: justify;
}

p{
    text-align: justify;
    margin-left: 10px;
}

h1{
    margin-left: 10px;
}

h2{
    margin-left: 10px;
}

.lien{
    border: 1px solid rgb(2, 2, 160);
    padding: 10px;
    background-color: rgb(2, 2, 160);
    margin-bottom: 30px;
    margin-left: 10px;
}

.lien a{
    text-decoration: none;
}

.lien a .texte:hover{
    color: #2d5be3;
}

.texte {
    color: white;
}

footer{
    background-color: #f3fdfd;
    padding: 30px;
}

img{
    margin-bottom: -50px;
}

.texte-1{
    color: #333;
}

.container{
    text-align: center;
}

.card{
    display: inline-block;
    width: 28%;
    margin: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    vertical-align: top;
    text-align: left;
}

.card h3{
    font-size: 16px;
}

.card a{
    display: inline-block;
    margin-top: 10px;
    color: blue;
    text-decoration: none;
}

.card a:hover{
    color: #2d5be3;
}

.container-2{
    width: 90%;
    margin: auto;
}

.photo{
    width: 30%;
    float: left;
    margin: 1.5%;
    border: 2px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
}

.photo img{
    width: 100%;
    height: auto;
    border: 2px solid #4a5a7a;
}

.photo p{
    font-size: 14px;
    margin-top: 55px;
    text-align: left;
    color: #333;
}

h3{
    margin-left: 10px;
}

a{
    margin-left: 10px;
}

.footer-1{
    background-color: #f3fdfd;
    padding: 30px;
    margin-left: -95px;
}