body {
    margin: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-image: url('../Images/hero_gradient.svg');
    background-size: cover;
}

nav h1 {
    margin: 0;
    padding: 10px;
    margin-bottom: -20px;
}

nav ul {
    list-style: none;
    padding: 20px;
    margin: 10px 0 0 -10px;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #2d5be3;
}

.border-left {
    margin-bottom: 20px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 4px solid rgb(2, 2, 160);
    margin-left: 10px;
    background-color: rgb(185, 224, 240);
}

.border-left p {
    text-align: justify;
}

p {
    text-align: justify;
    margin-left: 10px;
    color: white;
}

h1 {
    margin-left: 10px;
    color: white;
}

h2 {
    margin-left: 10px;
    color: white;
}

.lien {
    border: 1px solid rgb(2, 2, 160);
    padding: 10px;
    background-color: rgb(2, 2, 160);
    margin-bottom: 30px;
    margin-left: 10px;
}

.lien a {
    text-decoration: none;
    color: #2d5be3;
}

.lien a .texte:hover {
    color: #2d5be3;
}

.texte {
    color: white;
}

footer {
    background-color: rgb(185, 224, 240);
    padding: 30px;
}

img {
    margin-bottom: -50px;
}

.texte-1 {
    color: #333;
    margin-left: 180px;
}

.container {
    text-align: center;
}

.card {
    display: inline-block;
    width: 28%;
    margin: 15px;
    padding: 20px;
    vertical-align: top;
    text-align: left;
    background-color: white;
    border: 2px solid #ccc;
}

.card h3 {
    font-size: 16px;
    color: black;
}

.card p {
    color: black;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    color: rgb(84, 84, 255);
    text-decoration: none;
}

.card a:hover {
    color: #2d5be3;
}

.container-2 {
    width: 90%;
    margin: auto;
}

.photo {
    width: 30%;
    float: left;
    margin: 1.5%;
    border: 2px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
}

.photo img {
    width: 100%;
    height: auto;
    border: 2px solid #4a5a7a;
}

.photo p {
    font-size: 14px;
    margin-top: 55px;
    text-align: left;
    color: #333;
}

h3 {
    margin-left: 10px;
    color: white;
}   

.a-1 {
    margin-left: 10px;
    text-decoration: none;
    color: rgb(84, 84, 255);
}

.a-1:hover{
    color: #728ddd;
}

.footer-1 {
    background-color: rgb(185, 224, 240);
    padding: 30px;
    width: 96.5vw;
    margin-left: -95px;
  
}

ul li {
    color: white;
}

.texte-2 {
    color: black;
}

.footer-2 {
    background-color: rgb(185, 224, 240);
    padding: 30px;
    margin-top: 484px;
}

.footer-3 {
    background-color: rgb(185, 224, 240);
    padding: 30px;
    margin-top: 445px;
}

.footer-4 {
    background-color: rgb(185, 224, 240);
    padding: 30px;
    margin-top: 407px;
}

a{
    color: rgb(84, 84, 255);
    text-decoration: none;
}

a:hover{
    color: #728ddd;
}

.image-1{
    border-radius: 20%;
}